<!DOCTYPE html>
<html>
<head>
  <title>restfulblog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item"><i class="leaf icon"></i><span id="header">.restfulblog</span></div>
      <a href="/" class="item"><i class="home icon" id="home_icon"></i><span id="home">Home</span></a>
      <a href="/blogs/drafts" class="item"><i class="file alternate icon" id="draft_icon"></i><span id="drafts">Drafts</span></a>
      <a href="/blogs/new" class="item"><i class="plus square icon" id="new_icon"></i><span id="new">New Post</span></a>
      <a href="https://shaerins.github.io" class="item" id="shaerins"><i class="code icon"></i></a>
    </div>
  </div>
