<%- include("partials/header") %>
<div id="newPost" class="ui main text container clearing raised segment">
  <div class="ui large header">Create New Post</div>

  <!-- title -->
  <div class="ui form container">
    <form action="/blogs" method="POST" autocomplete="off">
      <div class="field">
        <label>Title</label>
        <input type="text" name="blog[title]" placeholder="Title" required></input>
      </div>

      <!-- body text -->
      <div class="field">
        <label>Body</label>
        <textarea name="blog[body]" placeholder="Body text goes here" required></textarea>
      </div>

      <div class="field">
        <label>Image (not required)</label>
        <input type="text" name="blog[image]" placeholder="Image URL"></input>
      </div>

      <button input="submit" class="ui primary right floated small submit button">Save</button>
      <button input="submit" name="blog[isDraft]" value="true" class="ui right floated grey small button">Draft</button>
    </form>
    <button onclick="location.href='/blogs'" class="ui right floated small button">Discard</button>
  </div>
</div>

<%- include("partials/footer") %>
