/* increase size of icon */
i.leaf.icon {
  font-size: 1.5em;
}

i.code.icon {
  font-size: 1em;
}


.blog-post-container>div.ui.segment:first-child {
  margin-top: 5.0em;
}

.blog-post-container:last-child {
    margin-bottom: 1em;
}

.blog-post-container {
  margin: 5em auto 0;
  width: 95%;
}

.blog-post-container img {
  display: block;
}

.ui.raised.segment.container p {
  margin: 1em 0 .5em;
  word-wrap: break-word;
}

#show-post, #new-post {
  width: 50%;
  margin: 5em auto 0;
}

/* keep date at the top right of each post */
.title {
  margin: 0;
  display: flex;
  justify-content: space-between;
  line-height: .1;
}

#read-more {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .title {
    line-height: 0;
  }

  .blog-post-container {
    width: 55%;
  }
}

@media (max-width: 350px) {
    #header {
      display: none;
    }
}
