/* increase size of icon */
i.icon {
  font-size: 1.5em;
}

.blog-post-container>div.ui.segment:first-child {
  margin-top: 5.0em;
}

.blog-post-container {
  margin: 5em auto 0;
  width: 40%;
}

.blog-post-container img {
  display: block;
}

#show-post, #new-post {
  width: 50%;
  margin: 5em auto 0;
}

/* keep date at the top right of each post */
.title {
  margin: 0;
  display: flex;
  justify-content: space-between;
  line-height: .1;
}

#read-more {
  display: flex;
  justify-content: flex-end;
}
